# ========================
# Node
# ========================
node_modules/
dist/
build/

# ========================
# Python
# ========================
.venv/
venv/
__pycache__/
*.pyc

# ========================
# ML / Data


# ========================
# Env / Secrets
# ========================
.env
backend/firebase_key.json

# ========================
# Logs
# ========================
*.log

# ========================
# Jupyter
# ========================
.ipynb_checkpoints/

# ========================
# OS Files
# ========================
.DS_Store
Thumbs.db

